<div ng-form="DamageTrack" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Damage Track</h3>
    </div>
    <div class="panel-body">
        <span class="label label-primary">LAR</span>
        <input type="number" min="0" ng-model="track.LAR">
        <span class="label label-warning">Hard LAR</span>
        <input type="checkbox" ng-model="track.HardLAR">
        <span class="label label-primary">HAR</span>
        <input type="number" min="0" ng-model="track.HAR">
        <span class="label label-warning">Hard HAR</span>
        <input type="checkbox" ng-model="track.HardHAR">
        <span class="label label-danger">HAR first?</span>
        <input type="checkbox" ng-model="track.HARFirst">

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Damage</th>
                    <!--
                    <th>Empty</th>
                    <th>Shock</th>
                    <th>Killing</th>
                    !-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in track.Locations track by $index" ng-class="TableHighlight(t)">
                    <td>{{t.Name}}</td>
                    <td>{{t.Upper}}</td>
                    <td>
                        <progress>
                            <bar value="t.Track.Open*100.0/(t.Track.Open+t.Track.Shock+t.Track.Killing)" type="success"><span>{{t.Track.Open}}</span></bar>
                            <bar value="t.Track.Shock*100.0/(t.Track.Open+t.Track.Shock+t.Track.Killing)" type="warning"><span>{{t.Track.Shock}}</span></bar>
                            <bar value="t.Track.Killing*100.0/(t.Track.Open+t.Track.Shock+t.Track.Killing)" type="danger"><span>{{t.Track.Killing}}</span></bar>
                        </progress>
                    </td>
                    <!--
                    <td>{{t.Track.Open}}</td>
                    <td>{{t.Track.Shock}}</td>
                    <td>{{t.Track.Killing}}</td>
                    !-->
                </tr>
            </tbody>  
        </table>
        <div>
            <input type="text" ng-model="track.Workspace" ng-pattern="/^H?((\d+S)|(\d+K)|(\d+S\d+K))((!)|(P\d+))?\s+((all)|(nohead)|(\*)|([\d,]+))$/i"></input>
        <button class="btn btn-danger" ng-click="track.TakeDamage(track.Workspace)" ng-disabled="DamageTrack.$invalid">Apply</button>
    </div>
</div>