<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Group JSON Import/Export</h3>
    </div>
    <div class="panel-body bg-info">
        <div class="row">
            <textarea class="form-control" ng-model="GroupJSON" rows="10"></textarea>
        </div>
        <div class="row">
            <button class="btn btn-block btn-info" ng-click="Group2JSON()">Group -> JSON</button>
            <button class="btn btn-block btn-danger" ng-click="JSON2Group()">JSON -> Group</button>
        </div>
    </div>
</div>