<div class="panel panel-info" ng-init="isCollapsed = true">
    <div class="panel-heading"  ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title">Group JSON Import/Export <span ng-show="isCollapsed" class="glyphicon glyphicon-plus" aria-hidden="true"></span><span ng-show="!isCollapsed" class="glyphicon glyphicon-minus" aria-hidden="true"></span></h3>
    </div>
    <div class="panel-body bg-info" collapse="isCollapsed">
        
        <div class="row">
            <textarea class="form-control" ng-model="GroupJSON" rows="10"></textarea>
        </div>
        <div class="row">
            <button class="btn btn-block btn-info" ng-click="Group2JSON()">Group -> JSON</button>
            <button class="btn btn-block btn-danger" ng-click="JSON2Group()">JSON -> Group</button>
        </div>
    </div>
</div>