<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">JSON Import/Export</h3>
    </div>
    <div class="panel-body bg-info">
        <div class="row">
            <textarea class="form-control" ng-model="CharJSON"></textarea>
        </div>
        <div class="row">
            <button class="btn btn-block btn-info" ng-click="Char2JSON()">Character -> JSON</button>
            <button class="btn btn-block btn-danger" ng-click="JSON2Char()">JSON -> Character</button>
        </div>
    </div>
</div>